
/* Custom page header */
footer {
	height: 70px;
	line-height: 70px;
	background: #000;
	h4{
		color: #4f5452;
		height: 100%;
		margin: 0;
		letter-spacing: 1px;
		@media screen and (max-width: 768px) { 
			line-height: 1.5;
		}
	}
}