#game {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index:-1;
	transition: z-index 0s linear 1s;
	.step1{
		width: 0;
		height: 0;
		overflow: hidden;
		position: relative;
		transition: opacity 1s ease-out 0s, height 0s ease-out 1s, width 0s ease-out 1s;
		@media screen and (max-width: 768px) { 
			line-height: 1;
			letter-spacing: 1px;
			margin-top: 50px;
		}
		h4,p,button{
			font-weight: bold;
		}
		label{
			&.red{
				background: #e53935;
			}
			&.orange{
				background: #ff8f00;
			}
			&.green{
				background: #0097a7;
			}
		}
		h4{
			margin:0;
			color: $font-default-hover-color;
			font-size: inherit;
		}

		@media screen and (max-width: 768px) { 
			>*:last-child{
				margin-bottom: 100px;
			}
		}

	}
	.step2{
		width: 0;
		height: 0;
		overflow: hidden;
		letter-spacing: -1em;
		position: relative;
		transition: opacity 1s ease-out 0s, height 0s ease-out 1s, width 0s ease-out 1s;

		span{
			color: $font-default-hover-color;
			font-size: percentage(250/13);
			opacity: 0;
			position: absolute;
			top: calc(50% - 0.5em);
			left: calc(50% - 0.25em);
			line-height: 1;
			@media screen and (max-width: 768px) { 
				font-size: vwxsl(200);
			}
		}
	}
	.step3{
		letter-spacing: 1px;
		width: 0;
		height: 0;
		overflow: hidden;
		position: relative;
		transition: opacity 1s ease-out 0s, height 0s ease-out 1s, width 0s ease-out 1s;
		.snipper{
			width: 759px;
			height: 526px;
			position:relative;
			@media screen and (max-width: 768px) { 
				width: vwxsl(413);
				height: vwxsl(288);
			}
			img{
				position:absolute;
				top:0;
				left: -100%;
				opacity: 0;
				transform: scale(1.15);
				transform-origin: 2% 2% 0; 
				transition: opacity 0.05s ease-out 0s, transform 0.05s ease-out 0s, left 0s ease-out 0.05s;
				@media screen and (max-width: 768px) {
					width: vwxsl(391);
					height: vwxsl(261);
				}
				&.active{
					left: 0;
					opacity: inherit;
					transform: none;
					transition: opacity 0.05s ease-out 0s, transform 0.05s ease-out 0s, left 0s ease-out 0s;
				}
			}
		}
		.target{
			position: absolute;
			overflow: hidden;
			margin: 23px 0 0 20px;
			width: 719px;
			height: 481px;
			background: #121520;
			@media screen and (max-width: 768px) {
				margin: vwxsl(11) 0 0 vwxsl(9); 
				width: vwxsl(391);
				height: vwxsl(261);
			}

		}
		.overlay{
			background-image: url(../images/game/snipper.png);
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 20;
			left:0;
			top:0;
			@media screen and (max-width: 768px) { 
				background-size: cover;
			}

		}

		@import "layouts/seconds";
	}

	.success, .failed{
		letter-spacing: 1px;
		background: url(../images/game/result-bg.png);
		width: 0;
		height: 0;
		opacity: 0;
		overflow: hidden;
		position: relative;
		transition: opacity 0s ease-out 0s, height 0s ease-out 0s, width 0s ease-out 0s;


		h3{
			color: $font-default-hover-color;
			margin: 0 auto;
			padding: 50px 0 30px;
			@media screen and (max-width: 768px) { 
				padding: vwxsl(13) 0 vwxsl(10);
			}
		}

		figure{
			margin: 0 auto;
			color: #0f2349;
			background: url(../images/game/id-assistant.png) no-repeat;
			position: relative;
			width: 486px;
			height: 255px;
			@media screen and (max-width: 768px) {
				width: vwxsl(548);
				height: vwxsl(286);
				background-size: 100% auto;
				margin: 0 0 0 vwxsl(10);
			}

			i,span{
				top:0;
				left:0;
				position:absolute;
			}
			.picture{
				display: block;
				height: 152px;
				margin: 32px 0 0 34px;
				width: 152px;
			    background-size: cover;
				@media screen and (max-width: 768px) { 
					height: vwxsl(172);
					width: vwxsl(172);
					margin: vwxsl(36) 0 0 vwxsl(38);
				}
			}
			.name{
				display: none;
				letter-spacing: 1px;
				margin: 20px 0 0 275px;
				word-spacing: 0;
				@media screen and (max-width: 768px) { 
					letter-spacing: 0;
					margin: vwxsl(18) 0 0 vwxsl(316);
				}
			}
		}

		.btn{
			margin-top:40px;
			@media screen and (max-width: 768px) {
				margin: vwxsl(20) 0;
			}

		}
		@media screen and (max-width: 768px) { 
			>*:last-child{
				margin-bottom: 100px;
			}
		}
	}

	.success{		
		.restart{
			&:hover,&:focus,&:active{
				color:#fff;
			}
		}
	}
	@media screen and (max-width: 768px) { 
		margin-top: vwxsl(20);
		letter-spacing: -1em;
	}

	button{
		@media screen and (max-width: 768px) { 
			// width: 140px;
			// height: 35px;
			margin-top: 10px;
		}
	}

}

html.game{
	.range{		
		height: calc(100vh - 70px);
		overflow: hidden;
	}
	@media screen and (max-width: 768px) { 
		overflow: auto;
	}
	&:after{
		opacity: 0.6;
		background: #0f2349;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		z-index: 20;
		transition: opacity 1s ease-out 0s, height 0s ease-out 0s, width 0s ease-out 0s;
	}
	@media screen and (orientation:portrait) {
		body{
			&:before{
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				opacity: 1;
				height: 100%;
				z-index: 51;
				content: '';
				background: url(../images/game/landscape-please.jpg) center center/cover no-repeat;
			}
		}
	}
	#game {
		z-index:50;
		transition: z-index 0s linear 0s;
		margin-top: 10px;
		height: calc(100vh - 50px);
		overflow: auto;
		p{
			margin: 45px 0 0;
			@media screen and (max-width: 768px) { 
				margin-top: vwxsl(20);
			}
		}
		@media screen and (max-width: 768px) { 
			margin-top: 50px;
		}
	}
	&.step1{
		&:before{
			opacity: 0.8;
			background: #000;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			margin: 30px 0 100px;
			content: '';
			z-index: 21;
			transition: opacity 1s ease-out 0s, height 0s ease-out 0s, width 0s ease-out 0s;
		
		}
		#game .step1{
			height: auto;
			width: auto;
			overflow: visible;
			opacity: inherit;
			transition: opacity 1s ease-out 0s, height 0s ease-out 0s, width 0s ease-out 0s;
		}
	}
	&.step2{
		&:before{
			opacity: 0.8;
			background: #000;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			z-index: 21;
			transition: opacity 1s ease-out 0s, height 0s ease-out 0s, width 0s ease-out 0s;
		}
		#game .step2{
			overflow: visible;
			height: auto;
			width: auto;
			opacity: inherit;
			transition: opacity 1s ease-out 0s, height 0s ease-out 0s, width 0s ease-out 0s;
		}
	}
	&.step3{
		#game .step3{
			overflow: visible;
			height: auto;
			width: auto;
			opacity: inherit;
			transition: opacity 1s ease-out 0s, height 0s ease-out 0s, width 0s ease-out 0s;
		}
	}
	&.success #game .success, &.failed #game .failed{
		width: 600px;
		height: 550px;
		@media screen and (max-width: 768px) { 
			height: auto;
			width: 100vw;
		}
		opacity: inherit;
		transition: opacity 1s ease-out 0s, height 0s ease-out 0s, width 0s ease-out 0s;
	}
}