main #index {
	position: relative;
	min-height:100%;
	margin-top: 70px;
	@media screen and (max-width: 768px) {	
		margin-top: vwxs(25);
	}
	.kv{

		@media screen and (max-width: 768px) {			
			width: 100%;
			img{
				width: 100%; 
			}
		}
	}
	h2{
		position:absolute;
		margin:0;
		top:37px;
		left:55px;
		@media screen and (max-width: 768px) {	
			top: vwxs(20);
			left: vwxs(16);		
			width: vwxs(99);
			height: vwxs(62);
			img{
				width: 100%; 
			}
		}
	}
	hr.bottom{
		height: 50px;
		border:0;
		margin:0;
		position: absolute;
		width: 100%;
		bottom:0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f2349+1,0f2349+100&0+0,1+100 */
		background: -moz-linear-gradient(top, rgba(15,35,73,0) 0%, rgba(15,35,73,0.01) 1%, rgba(15,35,73,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(15,35,73,0) 0%,rgba(15,35,73,0.01) 1%,rgba(15,35,73,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(15,35,73,0) 0%,rgba(15,35,73,0.01) 1%,rgba(15,35,73,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000f2349', endColorstr='#0f2349',GradientType=0 ); /* IE6-9 */
	}
}
